<%- include('layout/header'); -%>
<!-- Main Content -->
<style>
    #select2-selectgrup-container {
        padding-top: 5px;
    }


    .card-icon i {
        padding-top: 25px;
    }

    body {
        padding: 0px !important;
    }

    label {
        font-size: 16px !important;
    }
</style>
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Dashboard Admin</h1>
            <div class="section-header-breadcrumb">
                <!-- <div class="breadcrumb-item active"><a href="#">Dashboard</a></div> -->
                <!-- <div class="breadcrumb-item"><a href="#">Layout</a></div>
                <div class="breadcrumb-item">Default Layout</div> -->
            </div>
        </div>

        <div class="section-body">
            <div class="card">
                <div class="card-body">
                    <a id="showmodaladd" class="btn btn-icon btn-primary" style="padding:10px;">Add New Parent
                        Category
                    </a>
                    <table class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% if(data) {%>
                            <% data.forEach( row=> {%>
                            <tr>
                                <td><%= row.name %></td>
                                <td>
                                    <a onclick="showModalAddEditSub('<%= row.id %>','add')"
                                        class="btn btn-icon btn-primary" style="padding:10px;">Add Sub
                                    </a>
                                </td>
                            </tr>
                            <% } )%>
                            <%} else {%>
                            <tr>
                                <td>Data Not Found</td>
                                <td>Data Not Found</td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer bg-whitesmoke">
                    This is card footer
                </div> -->
            </div>
        </div>
    </section>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModalAdd">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modaleditadd">Add Parent Category</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:void(0)" method="post" id="formadd">
                <div class=" modal-body">
                    <input type="hidden" class="form-control" placeholder="csrf" id="_csrf" name="_csrf"
                        value="<%= csrfToken %>">
                    <div class="form-group">
                        <label>Name Parent Category</label>
                        <div class="input-group">
                            <input name="name" id="name" class="form-control" maxlength="255" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn-close btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="submitaddedit" class="btn btn-primary" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModalAddEditSub">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modaleditadd">Add/Edit Category</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:void(0)" method="post" id="formAddEditSub">
                <div class=" modal-body">
                    <input type="hidden" class="form-control" placeholder="csrf" id="_csrf" name="_csrf"
                        value="<%= csrfToken %>">
                    <input type="hidden" class="form-control" placeholder="csrf" id="idsub" name="idsub" value="">
                    <input type="hidden" class="form-control" placeholder="csrf" id="addoredit" name="addoredit"
                        value="">
                    <div class="form-group">
                        <label>Name Sub Category</label>
                        <div class="input-group">
                            <input name="name" id="nameeditadd" class="form-control" maxlength="255" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn-close btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="submitSubCategory" class="btn btn-primary" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('layout/footer'); -%>
<script type="text/javascript">
    function showModalAddEditSub(id, editadd) {
        $('#idsub').val(id)
        $('#addoredit').val(editadd)
        if (editadd == 'edit') {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/dataeditsubcategory",
                data: {
                    idsub: id,
                    _csrf: '<%= csrfToken %>'
                },
                success: function (data) {
                    $('#nameeditadd').val(data[0].name)
                }
            });
        }
        $('#myModalAddEditSub').modal('show')
    }
    $(document).ready(function () {

        $('#showmodaladd').click(function () {
            $('#myModalAdd').modal('show')
        });

        $("#submitaddedit").click(function () {
            var form = $("#formadd").serialize();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/addparentcategory",
                data: form,
                success: function (data) {
                    location.reload();
                }
            });
        });


        $("#submitSubCategory").click(function () {
            var editadd = $('#addoredit').val();
            var url;
            if (editadd == 'add') {
                url = "/addsubcategory"
            } else {
                url = "/editsubcategory"
            }
            var form = $("#formAddEditSub").serialize();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                data: form,
                success: function (data) {
                    location.reload();
                }
            });
        });


    });

</script>